@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body{
    background-color: #070724;
}

header{
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Spartan;

    h5{
        font-family: Antonio;
        font-size: 28px;
        font-weight: 400;
        line-height: 36.23px;
        letter-spacing: -1.0499999523162842px;
        text-align: left;
        color:#ffffff;
    }
    ul{
        display: flex;
        column-gap: 33px;
        list-style: none;

        a{
            font-size: 11px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 1px;
            text-align: left;
            text-decoration: none;
            color: #ffffff;
        }
    }
}

main{
    max-width: 940px;
    display: flex;
    column-gap: 300px;
    margin: auto;
    align-items: center;

    .main__list{
        max-width: 350px;
        
        
        h1{
            font-family: Antonio;
            font-size: 80px;
            font-weight: 400;
            line-height: 103.52px;
            text-align: left;
            color: #ffffff;
        }
        p{
            font-family: Spartan;
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
            color: #ffffff;
        }
        .btns{
            width: 350px;
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            button{
                width: 350px;
                height: 48px;
                background: transparent;
                display: flex;
                column-gap: 28px;
                border: 0;
                cursor: pointer;
                border: 1px solid #ffffff;
                padding-left: 28px;

                p{
                    font-family: Spartan;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 25px;
                    letter-spacing: 2.5714285373687744px;
                    text-align: left;
                }
            }
            .one{
                background: #419EBB;
                border:0;
            }
        }
    }
}